body {
padding:25px;
}

div {
  transition: max-height 1s, min-height 1s, background 1s, min-width 1s, max-width 1s;
}
img {
  /*transition-delay: width 1s;*/
  transition: width 1s;
}
p {
  transition: max-height 1s;
}
a {
	color:#fff;
	text-decoration: none;
}

.timeline {
	overflow-x: scroll;
	white-space: nowrap;
	padding:30px 0 10px 0;
	position:relative;
	height:400px;
}

.entry {
	display:inline-block;
	vertical-align: top;
	background:SlateGray;
	color:White;
	padding:10px;
	font-size:12px;
	text-align:center;
	position:relative;
	border-top:4px solid #06182E;
	border-radius:3px;
	margin-top:20px;
	min-width:200px;
	max-width:200px;
	min-height:0;
	max-height:60px;
}
.entry:hover {
	background:SteelBlue;
	min-height:0;
	max-height:90%;
}
.entry:hover img{
	width:90%;
}

.entry img {
	display:block;
	width:0px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	float: center;
}


.entry:after {
	/* Little circle on top of the entries */
	content:'';
	display:block;
	background:#eee;
	width:7px;
	height:7px;
	border-radius:6px;
	border:3px solid #06182E;
	position:absolute;
	left:50%;
	top:-30px;
	margin-left:-6px;
}

.entry:before {
	/* Little stick that connects the entry box to the circle */
	content:'';
	display:block;
	background:#06182E;
	width:5px;
	height:20px;
	position:absolute;
	left:50%;
	top:-20px;
	margin-left:-2px;
}

.entry h1 {
	color:#fff;
	font-size:18px;
	font-weight:bold;
	margin-top:5px;
	margin-bottom:10px;
}

.entry h2 {
	letter-spacing:.2em;
	margin-bottom:10px;
	font-size:14px;
}

.entry p {
    word-wrap:initial;
	overflow:hidden;
	white-space:initial;
	display: inline-block;
	max-height: 0px;
	min-width:100%;
	max-width:100%;
	width:10px;
}
.entry:hover p {
	max-height: 100px;
}


.bar {
	height:4px;
	background:Gray;
	width:100%;
	position:relative;
	top:32px;
	left:0;
}

.timeline_container{
/* Dummy just to keep the bar with the timeline */
}
