/* add your code here */

a:link {
	color: #000000;
	font-weight: bold;
}


a:hover {
	font-weight: bold;
	text-decoration: underline;
}

a:active {
	font-weight: bold;
	text-decoration: none;
};

a:visited {
    color: #FF0000;
    font-weight: bold;
}
