

.selector{
    display: inline-block;

}
#Hardware{
    display: inline-block;
    width: 200px;
    height: 500px;
     background-image: url("hardware.jpg");
     background-size: 550%;

}
#Hardware:hover{
    width: 900px;
    height: 500px;
    position: fixed;
    background-size: 100%;
}

#Software{
    display: inline-block;
    width: 200px;
    height: 500px;
    background-image: url("software.jpg") ;
    background-size: 800%;
}

#Software:hover{
    width: 900px;
    height: 500px;
    position: fixed;
    left: 0;
    background-size: 100%;
}

#Internet{
    display: inline-block;
    width: 200px;
    height: 500px;
    background-image: url("internet.jpg") ;
    background-size: 400%;

}

#Internet:hover{
    width: 900px;
    height: 500px;
    position: fixed;
    left: 0;
    background-size: 100%;
}

#Games{
    display: inline-block;

    width: 200px;
    height: 500px;
    background-image: url("games.jpg") ;
    background-position: center;
    background-size: 360%;
}
#Games:hover{
    width: 900px;
    height: 500px;
    position: fixed;
    left: 0;
    background-size: 100%;
}
#HCI {
    display: inline-block;
    width: 200px;
    height: 500px;
    background-image: url("hci.jpg");

    background-size: 340%;
}

#HCI:hover{
    width: 900px;
    height: 500px;
    position: fixed;
    left: 0;
    top:0;
    background-size: 100%;
}